html, body, ul {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden
}

@media screen and (min-width: 800px) {
  body {
    width: 800px;
    margin: 0 auto;
  }
}

li {
  list-style: none;
}

.item {
  width: 100%;
}
.item-img {
  width: 101%;

 }